[submodule "wesl-testsuite"]
	path = wesl-testsuite
	url = https://github.com/webgpu-tools/wesl-testsuite.git
	update = merge
	branch = main
[submodule "cts"]
	path = cts
	url = https://github.com/webgpu-tools/cts.git
	update = merge
